@model IList<CaelumEstoque.Models.Produto>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexViewBag</title>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>

    <div class="row">@ViewBag.msg</div>

    <div class="row">

        <div class="btn-group">

            @Html.ActionLink("Adicionar", "Form", "Produto", new { @class = "btn btn-default" })

        </div>

    </div>

    <div class="row">

        <table class="table table-hover table-striped">

            <tr>
                <th>
                    Nome
                </th>

                <th>
                    Descrição
                </th>

                <th>
                    Quantidade
                </th>

                <th></th>

            </tr>

            @foreach (var produto in Model)
            {

                <tr>

                    <td>@produto.Id</td>

                    <td>@Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id })</td>

                    <td id="quantidade@(produto.Id)" class="fade in">
                        @produto.Quantidade
                    </td>

                    <td>
                        <a href="javascript:void(0);" onclick="decrementa(@produto.Id);"> Diminuir </a>
                    </td>

                </tr>

            }

        </table>

    </div>

    <script type="text/javascript">

        function decrementa(produtoId){
            var url = "@Url.Action("DecrementaQtd", "Produto")";
            var params = { id: produtoId };
            $.post(url, params , atualiza);
                
        }

        function atualiza(resposta){
            var elemento = $("#quantidade" + resposta.Id);
            elemento.html(resposta.Quantidade);
        }

    </script>

</body>
</html>
